* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}
.container {
  text-align: center;
}
h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 35px;
  letter-spacing: 2px;
}
.buttons {
  margin-bottom: 40px;
}
button {
  width: 130px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin: 0 10px;
}
#btn1 {
  background: #22c55e;
}
#btn2 {
  background: #ef4444;
}
#time {
  color: white;
  font-family: "DS-Digital", monospace;
  font-size: 8rem;
  font-weight: normal;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* controls space before AM/PM */
}
#date {
  color: white;
  font-size: 2.8rem;
  margin-top: 15px;
  letter-spacing: 3px;
}
